$LogoColor: #ff4f37;
$MainColor : #ff4f37;
$LinkColor: #404040;
$HoverColorBtn: #000;
$LinkActive: #ff4f37;
$TitleColor: #404040;
$SectionBg: #f4f4f4;
$CartItemColor: #fff;
$SlideTitleColor: #b0b0b0;
$TimeColor: #c7c7c7;
$DividerColor: #dddddd;
$CartTitle : #404040;
$BorderBtn: #dddddd;
$CheckedColor: #ff4f37;
$PriceColor: #404040;