html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-fluid {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #404040;
}

.btn {
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #ff4f37;
  color: #fff;
}

.input, .textarea {
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px 23px;
  border: none;
  background-color: #f4f4f4;
}

.textarea {
  resize: none;
  width: 100%;
}

.divider {
  background-color: #dddddd;
  height: 1px;
  width: 820px;
}

.logo {
  font-size: 40px;
  color: #ff4f37;
  font-weight: 800;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.header {
  height: 100px;
  border-bottom: 1px solid #dddddd;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  font-size: 13px;
  text-transform: uppercase;
}

.list__link {
  padding: 42px 15px;
  color: #404040;
}

.list__link:hover {
  background-color: #dddddd;
}

.list__link-active {
  color: #ff4f37;
  text-decoration: line-through;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__field {
  margin-right: 50px;
  width: 260px;
}

.card__field-filed {
  width: 100%;
  height: 50px;
  padding: 20px 17px;
  font-size: 12px;
  border: 1px solid #dddddd;
}

.card__btn {
  position: relative;
}

.card__btn-count {
  position: absolute;
  top: -7px;
  right: -15px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ff4f37;
}

.categories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__filters {
  width: 250px;
  margin-right: 50px;
}

.categories__offers {
  background-color: #f4f4f4;
  padding: 35px 50px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.categories__title {
  margin-top: 40px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 18px;
}

.categories .list__item {
  border-bottom: 1px solid #dddddd;
  width: 100%;
}

.categories .list__link {
  padding: 25px 10px;
  display: block;
  -webkit-transition: .6s;
  transition: .6s;
}

.offers__title {
  margin-bottom: 70px;
}

.offers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-offer {
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-bottom: 20px;
}

.item-offer__image {
  display: block;
  max-width: 140px;
}

.item-offer__title {
  margin-bottom: 13px;
  font-size: 18px;
  color: #a3a3a3;
}

.item-offer__price {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #404040;
}

.item-offer__btn {
  margin-left: auto;
}

.item-offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-offer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description__settings {
  padding-top: 40px;
  width: 250px;
  text-align: center;
}

.description__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__photo-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f4f4f4;
  z-index: -10;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-container__photo {
  max-width: 400px;
}

.photo-container__title {
  position: absolute;
  top: 0;
  z-index: -5;
}

.company-name {
  font-size: 191px;
  color: #fff;
  font-weight: bold;
}

.settings__back-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  margin: 0 auto 60px;
  padding: 15px;
}

.settings__back-btn-btn {
  font-size: 12px;
  color: #ff4f37;
  text-transform: uppercase;
  font-weight: 700;
}

.settings__back-btn-image {
  display: block;
  margin-right: 20px;
}

.settings__title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b0b0b0;
  margin-bottom: 30px;
}

.settings__price {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ff4f37;
  margin-bottom: 30px;
}

.settings__size {
  margin-bottom: 20px;
}

.settings__size-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.settings__size-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.settings__counter {
  margin-bottom: 40px;
}

.settings__btn {
  padding: 20px 45px;
}

.size-list__item {
  cursor: pointer;
}

.list-item__field {
  display: none;
}

.list-item__label {
  display: block;
  border: 1px solid #dddddd;
  padding: 15px 20px;
  color: #404040;
  background-color: #fff;
  font-weight: 700;
}

.counter {
  font-size: 14px;
  font-weight: 700;
}

.counter__field {
  max-width: 80px;
  height: 60px;
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: none;
  border-left: none;
}

.counter__button {
  height: 60px;
  border: 1px solid #dddddd;
  background-color: #fff;
  padding: 12px;
}

.cart {
  height: calc(100vh - 100px);
  background-color: #f4f4f4;
}

.cart__inner {
  padding-top: 50px;
}

.cart__totals {
  max-width: 470px;
  padding: 25px;
  margin-left: auto;
  background-color: #fff;
}

.cart__totals-btn {
  width: 100%;
}

.cart__discount {
  margin-bottom: 25px;
}

.cart__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 30px;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 15px;
}

.cart__item-hover:hover .item-settings__delete-btn {
  visibility: inherit;
}

.discount__field {
  margin-right: 15px;
  width: 65%;
}

.discount__btn {
  padding: 18px 40px;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-info__image {
  width: 100px;
}

.item-info__text {
  margin-left: 20px;
}

.item-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-settings__delete-btn {
  visibility: hidden;
}

.item-settings__counter .counter__field {
  width: 50px;
  height: 45px;
}

.item-settings__counter .counter__button {
  height: 45px;
}

.item-settings__price {
  font-weight: 600;
  margin-right: 25px;
}

.info-text__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.main {
  background-image: url("../common/images/bg.png");
}

.main__inner {
  padding: 75px 0 80px 0;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__info-img {
  margin-right: 55px;
}

.main .slider-wrapper {
  max-width: 1170px;
}

.main__btn-block-item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 25px 20px;
  background-color: #ff4f37;
}

.main__btn-block-item:first-child {
  background-color: #fff;
  color: #404040;
}

.products {
  padding: 80px 0 70px;
}

.products__wrapper {
  width: 1360px;
  margin: 0 auto;
}

.products__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.products__title {
  font-size: 36px;
  margin: 0 30px;
}

.products .slider {
  overflow: hidden;
  margin-top: 70px;
}

.products .slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .8s;
  transition: .8s;
}

.products .slider__btns-prev, .products .slider__btns-next {
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 13px;
}

.products .slider__btns-prev {
  background-image: url("../common/images/arrow-left.png");
}

.products .slider__btns-next {
  background-image: url("../common/images/arrow-right.png");
}

.products .slider-item {
  width: 490px;
  height: 350px;
  padding: 50px;
  background-color: #f9f9f9;
  border-right: 1px solid #000;
}

.products .slider-item__title {
  color: #b0b0b0;
  font-size: 24px;
  max-width: 300px;
  margin-bottom: 20px;
}

.products .slider-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .slider-item__body-photo {
  max-width: 150px;
  max-height: 180px;
}

.products .slider-item .info-price {
  font-size: 36px;
  font-weight: bold;
  color: #404040;
  margin-bottom: 65px;
}

.blog {
  padding-bottom: 80px;
}

.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__wrapper {
  width: 375px;
}

.blog__banner {
  background-image: url("../common/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 750px;
  padding: 70px;
  text-align: right;
}

.blog__banner-divider {
  margin: 25px 0 35px auto;
  width: 70px;
  border: 1px solid #fff;
}

.blog__banner-title {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
}

.blog__banner-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 55px;
}

.blog__title {
  font-size: 22px;
  color: #404040;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #404040;
  padding-bottom: 15px;
}

.blog__articles {
  margin-top: 30px;
}

.articles-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-item__image {
  width: 115px;
  margin-right: 35px;
  height: 115px;
}

.articles-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.articles-item__wrapper {
  width: 220px;
}

.articles-item__time {
  font-size: 10px;
  color: #c7c7c7;
  margin-bottom: 15px;
}

.articles-item__title {
  font-size: 14px;
  font-weight: 600;
  color: #404040;
  line-height: 1.7;
  margin-bottom: 15px;
}

.articles-item__btn {
  background-color: transparent;
  color: #ff4f37;
  padding: 0;
  text-decoration: underline;
}

.info-block {
  text-align: left;
  text-transform: uppercase;
  color: #fefffe;
  max-width: 520px;
}

.info-block__title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 45px;
}

.info-block__subtitle {
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.news-box {
  padding-bottom: 50px;
}

.news-box__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 75px 0;
  border: 1px solid #ddd;
}

.news-box__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
  padding-bottom: 50px;
  border-bottom: 1px solid #dddddd;
}

.news-box__btn {
  padding: 18px 40px;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin-right: 20px;
}

.input-container__label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.input-container__field {
  width: 100%;
}

.news {
  min-height: calc(100vh - 100px);
}

.news__inner {
  padding-top: 35px;
}

.news__topic {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

.topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid red;
  margin-bottom: 40px;
}

.topic__time {
  font-size: 12px;
  color: #999999;
}

.topic__time-wrapper {
  min-width: 125px;
}

.topic__content {
  margin-right: 45px;
}

.topic__title {
  font-size: 20px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 10px;
}

.topic__article {
  font-size: 14px;
  max-width: 500px;
  margin-bottom: 10px;
}

.topic__link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #ff4f37;
}

.topic__link-active:hover {
  text-decoration: underline;
}

.topic__image {
  width: 250px;
}

.contacts {
  min-height: calc(100vh - 100px);
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.contacts__map {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.contacts__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 350px;
  padding: 40px 20px;
}

.contacts__phone {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.contacts__phone .phone {
  color: #ff4f37;
}

.form {
  max-width: 350px;
}

.form__field {
  margin-bottom: 20px;
}

.form__field-item {
  width: 100%;
}

.form__button {
  margin-bottom: 45px;
  width: 115px;
}

.location-marker {
  width: 370px;
  height: 112px;
}

.location-marker__address {
  font-size: 22px;
  font-weight: 700;
  color: #121212;
}

.footer {
  padding: 40px 0;
  background-color: #121212;
}

.footer__inner {
  text-align: center;
}

.footer__copyright {
  font-size: 12px;
  color: #666666;
}

.footer .logo {
  display: block;
  font-size: 48px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */